:root {
  --blue: #37517e;
  --light-gray: #efeaeadf;
}

.front {
  background-color: var(--blue);
}
.front a {
  color: white !important;
}

.dropdown-menu a {
  color: black !important;
}

.anime-img {
  animation: up-down 3s linear infinite alternate;
}

@keyframes up-down {
  from {
    transform: translateY(10px);
  }
  to {
    transform: translateY(-30px);
  }
}

.img-r li {
  padding: 10px;
}

.max-content {
  width: max-content;
  margin: auto;
}

.bg-blue {
  background: var(--blue);
}

.gray {
  background: lightgray;
  width: 70%;
  height: 2px;
  margin: auto;
  border-radius: 40px;
  position: relative;
}

.blue {
  background: var(--bs-info);
  width: 40%;
  height: 4px;
  margin: auto;
  border-radius: 40px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.bg-light-gray {
  background-color: var(--light-gray);
}

.my-card {
  transition: all 0.4s;
}

.text-blue {
  color: var(--blue);
}

.bg-img {
  background: linear-gradient(rgba(55, 81, 126, 0.7), rgba(55, 81, 126, 0.9)),
    url("https://bootstrapmade.com/content/demo/Arsha/assets/img/cta-bg.jpg")
      fixed;
}

.img-parent {
  overflow: hidden;
}

.img-content {
  bottom: 0;
  transform: translateY(90px);
  transition: all 0.3s ease-out;
}

.img-parent:hover .img-content {
  transform: translateY(0);
}

.gray-line {
  width: 50px;
  height: 0.3px;
  background-color: rgba(189, 188, 187, 0.7);
}

.card-two {
  border-top: 5px solid var(--bs-info) !important;
}

.clip-circle {
  clip-path: circle() !important;
}
@media (max-width: 767px) {
  .team-img {
    width: 40% !important;
    margin: auto !important;
    display: block !important;
  }

  .gray-line {
    margin: auto;
  }
}
